<div class="jumbotron">
    <h1>DLD System</h1>
    <p class="lead">DLD System is a document marking system that solves the problem of the vulnerability of displayed and printed information, thus preventing reputational and financial losses of companies.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Prevents information leakage - printed or opened on the screen</h2>
        <p>Usually, such information is not protected in any way from copying and illegal transfer to third parties.</p>
    </div>
    <div class="col-md-4">
        <h2>Find an intruder in the event of a leak</h2>
        <p>DLD System technologies identify an employee of a company or a counterparty who has transferred classified information to third parties.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Essential element of the security system</h2>
        <p>Products based on EveryTag technology help to minimize the reputation and financial risks.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
